/* Standard-Styles von react-calendar importieren */
/* BookingCalendar.css */
.buchbar {
    background-color: green;
  }
  
  .gebucht {
    background-color: red;
  }
  
  .standort_geschlossen {
    background-color: gray;
  }
  
  .nicht_buchbar {
    background-color: black;
  }
  
  .legend {
    margin-top: 20px;
  }
  
  .legend p {
    display: flex;
    align-items: center;
  }
  
  .legend span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
  }
  
  .buchbar {
    background-color: green;
  }
  
  .gebucht {
    background-color: red;
  }
  
  .standort_geschlossen {
    background-color: gray;
  }
  
  .nicht_buchbar {
    background-color: black;
  }  