/.idea/
/PrivacyStatement/.idea/
/Buchungssystem_Lastenkarle/PrivacyStatement/.idea/
/Buchungssystem_Lastenkarle/.idea/
/dev/data/
/envvarsdjango.env
/envvarsdb.env
/Buchungssystem_Lastenkarle/lastenkarle.sqlite
/dev/
/postgress_data/
/Buchungssystem_Lastenkarle/api/configs/store_configs.json
/Buchungssystem_Lastenkarle/.coverage
/Buchungssystem_Lastenkarle/media/qr-codes/
/Buchungssystem_Lastenkarle/send_mail/pdf/
/Buchungssystem_Lastenkarle/media/qr-codes/
/Buchungssystem_Lastenkarle/media/bikes/
