.list {
    list-style-type: none;
}

.list-item {
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    background-color: var(--accent-background);
    border-radius: 0.5rem;
}

.label {
    font-size: large;

    margin-left: 2rem;
    margin-right: auto;
}

/* TODO: add accent button colors and use them here */

.list-item .button {
    float: right;
    color: var(--button-foreground);
    background-color: var(--button-background);

    margin-left: 1rem;
    margin-right: 1rem;

    width: 30%;
    height: 2.5rem;
    border: 2px solid var(--button-border);
    border-radius: 0.5rem;
    cursor: pointer;
}

.list-item .button:hover {
    color: var(--button-foreground-focus);
    border-color: var(--button-border-focus);
}

.list-item .img-container {
    float: right;
    width: 6rem;
    height: 5rem;

    margin-left: 1rem;
    margin-right: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.list-item .img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 0.5rem;
}