.list {
    width: 80%;
    list-style-type: none;
}

.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.label {
    font-size: large;
}

.button {
    float: right;
    color: var(--button-foreground);
    background-color: var(--button-background);
}