{% load static %}
<html>
<head>
    <style>
        body {
            font-family: 'Calibri', sans-serif;
        }
        .bold {
            font-weight: bold;
        }
        .red-link {
            color: red;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <p>Hallo {{ username }}!</p>
    <p>Der Status deiner Buchung von {{ bike_name }} bei {{ store_name }} wurde auf "Zurückgegeben" geändert.</p>
    <p>Falls du das nicht warst, kann das an einem Fehler in der Station liegen oder etwas anderes ist schief gelaufen.</p>
    <p>Wende dich in diesem Fall bitte an die Station <a class="red-link" href="{{ store_website_link }}">{{ store_name }}</a>:</p>
    <p class="bold-black">Kontaktdaten der Station:</p>
    <p class="text-black">
        {{ store_name }}<br>
        {{ store_phone_number }}<br>
        {{ store_email }}<br>
    </p>
    <p>Das Team von Lastenkarle</p>
</body>
</html>