{% load static %}
<html>
<head>
    <style>
        body {
            font-family: 'Calibri', sans-serif;
        }
        .bold {
            font-weight: bold;
        }
        .red-link {
            color: red;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <img src="{{ lastenkarle_logo_url }}" alt="Header Image" style="width: 100%; max-width: 400px; display: block;">
    <p>Hallo {{ username }}!</p>
    <p>Du hast deine E-Mailadresse geändert.</p>
    <p>Um den Vorgang abzuschließen, klicke bitte auf diesen Bestätigungslink: <a class="red-link" href="{{ registration_link }}">Vorgang abschließen</a></p>
    <p>Das Team von Lastenkarle</p>
</body>
</html>