<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: 'Calibri', sans-serif;
        }
        .bold {
            font-weight: bold;
        }
        .red-link {
            color: red;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <img src="{{ lastenkarle_logo_url }}" alt="Header Image" style="width: 100%; max-width: 400px; display: block;">
    <p>Hallo {{ username }}!</p>
    <p>Der Status deines Accounts wurde auf "Ermahnt" geändert. Kommt es in den kommenden 3 Monaten zu einer weiteren Ermahnung kann es passieren, dass du von unseren Diensten ausgeschlossen wirst.</p>
    <p>Kommt es zu keinen weiteren Zwischenfällen in den kommenden 3 Monaten, verlierst du den "Ermahnt"-Status.</p>
    <p>Absender: {{ station_name }}</p>
    <p>Grund: {{ commentary }}</p>
    <p class="bold">Kontaktdaten des Stores:</p>
    <p>{{ station_contact_data }}</p>
    <p>Das Team von Lastenkarle</p>
</body>
</html>