.img-and-description-container {
    width: 100%;
    display: flex;
}

.img-container {
    float: inline-start;

    width: calc(50% - 1rem);
    aspect-ratio: 1;

    margin: 1rem 0.5rem 0.5rem 0;

    background-color: var(--content-background);
    border-radius: 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container:hover {
    cursor: pointer;
}

.img-container-label {
    font-size: 105%;
    color: var(--textarea-placeholder)
}

.img {
    max-width: 95%;
    max-height: 95%;
}

.description {
    float: inline-start;
    width: calc(50% - 1rem);
    aspect-ratio: 1;
    margin: 1rem 0 0.5rem 0.5rem;
}

.description::placeholder {
    color: var(--textarea-placeholder);
}