.nav-area {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    box-shadow: 0 2px 4px var(--shadow);
    position: relative;
}

.logo {
    display: flex;
    height: 100%;
    margin-right: auto;
    padding-left: 1rem;
    align-items: center;
}

.logo-img {
    height: 40%;
    width: auto;
}

.nav {
    height: 100%;
    margin-right: 10px;
}

.menus {
    height: 100%;
    display: flex;
    list-style: none;
    margin-top: 0;
}

.menus li {
    margin-right: 2rem;
    position: relative;
}

.menus li a {
    text-decoration: none;
    color: var(--foreground);
    font-weight: bold;
}

.menu-items {
    height: 100%;
    font-size: large;
    color: var(--foreground);
    background-color: var(--background);
    border-width: 0;
    cursor: pointer;
}

.menu-items .link {
    margin-top: 2rem;
}

.dropdown {
    position: relative;
    transform: translateY(10px);
    background-color: var(--background);
    box-shadow: 0 2px 4px var(--shadow);
    list-style: none;
    overflow: hidden;
    transition: height 0.3s ease;
    transition: border-color 0.3 ease;
    border-bottom: 5px solid var(--primary);
}

.dropdown.show {
    height: 100%;
    border-color: var(--primary); 
}

.dropdown.hide {
    height: 0;
    border-bottom: 0;
    border-color: var(--background); 
}

.dropdown-items {
    padding: 0.5rem;
}