.nav-area {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    box-shadow: 0 2px 4px var(--shadow);
    position: relative;
    background-color: var(--background);                    /* transitions for darkmode/lightmode change */
    transition: color 1s ease, background-color 1s ease;    /* ...                                       */
}

.logo {
    display: flex;
    height: 100%;
    margin-right: auto;
    padding-left: 1rem;
    align-items: center;
}

.logo-img {
    height: 40%;
    width: auto;
}

.nav {
    height: 100%;
    margin-right: 10px;
}

.menus {
    height: 100%;
    display: flex;
    list-style: none;
    margin-top: 0;
}

.menus li {
    position: relative;
}

.menus li a {
    text-decoration: none;
    font-weight: bold;
}

.menu-items {
    height: 100%;
    font-size: large;
    border-width: 0;
}

.menu-item {
    display: block;
    padding: 2rem;
    color: var(--button-foreground);
}

.menu-item:hover {
    color: var(--button-foreground-focus);
}

.dropdown {
    position: relative;
    background-color: var(--background);
    box-shadow: 0 2px 4px var(--shadow);
    list-style: none;
    overflow: hidden;
    transition: all 0.3s ease;
}

.dropdown.show {
    border-bottom: 5px solid var(--primary);
    opacity: 1;
    transform: translateY(-15px);
}

.dropdown.hide {
    opacity: 0;
    transform: translateY(-30px);
    border-bottom: 5px solid var(--foreground);
    pointer-events: none;
}

.dropdown-item {
    display: block;
    padding: 1rem;
    color: var(--button-foreground);
}

.dropdown-item:hover {
    color: var(--button-foreground-focus);
}