/* Standard-Styles von react-calendar importieren */
/* BikeCalendar.css */
.booking-calendar {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column; /* Align content in a vertical stack */
  align-items: center;    /* Center horizontally */
  text-align: center;     /* Ensure text is centered within blocks */
}

.month-container {
  margin-bottom: 20px;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 0px;
  width: 60%;
}

.calendar-day {
  padding: 10px;
  border: 1px solid #48494bfd;
  text-align: center;
  cursor: pointer;
}

.calendar-day.available {
  background-color: #5f5ea3; /* Grün für buchbar */
}

.calendar-day.reserved {
  background-color: #f0e68c; /* Gelb für reserviert */
}

.calendar-day.closed {
  background-color: #d3d3d3; /* Grau für Standort geschlossen */
}

.calendar-day.not-bookable {
  background-color: #ac685c; /* Rot für nicht buchbar */
  /* pointer-events: none; */
}

.calendar-day.selected {
  border: 3px solid #3b6499;
}

.selection-info {
  margin-top: 20px;
}

.legend {
  margin-top: 20px;
}

.legend-color {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.legend-color.available {
  background-color: #8fbc8f;
}

.legend-color.reserved {
  background-color: #f0e68c;
}

.legend-color.closed {
  background-color: #d3d3d3;
}

.legend-color.not-bookable {
  background-color: #ff6347;
}