/* Standard-Styles von react-calendar importieren */
/* BikeCalendar.css */
/* Update .booking-calendar to arrange months side by side */
/* Update .booking-calendar to arrange months side by side */
.booking-calendar {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Flex container for the two months */
.month-container-wrapper {
    display: flex;
    justify-content: center;
    gap: 15px;
    /* Space between the two months */
    width: 10%;
    /* Ensure it spans the entire booking-calendar width */
}

/* Ensure each month container is centered and has equal width */
.month-container {
    flex: 1;
    text-align: center;
}

.calendar-grid {
    display: grid;
    gap: 0px;
    width: 60%;
    grid-template-columns: repeat(7, 1fr);
}

.weekday-label {
    font-weight: bold;
    text-align: center;
    padding: 0.5rem;
}

.calendar-day {
    padding: 10px;
    color: white;
    text-align: center;
    cursor: pointer;
    margin: 2px;
}

.calendar-day.available {
    background-color: #68ce4a;
}

.calendar-day.past {
    background-color: #777777;
}

.calendar-day.reserved {
    background-color: #f0e68c;
}

.calendar-day.closed {
    background-color: #d3d3d3;
}

.calendar-day.booked {
    background-color: #ff6e5b;
}

.calendar-day.selected {
    font-weight: bold;
    outline: 3px solid #1888ff;
    outline-offset: -3px;
}

.calendar-day:hover {
    background-color: #1888ff;
    color: white;
    transition: none;
}

.selection-info {
    margin-top: 20px;
    color: #1888ff;
    font-weight: bold;
}

.legend {
    margin-top: 20px;
}

.legend-color {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.legend-color.available {
    background-color: #68ce4a;
}

.legend-color.reserved {
    background-color: #f0e68c;
}

.legend-color.closed {
    background-color: #d3d3d3;
}

.legend-color.not-bookable {
    background-color: #b3503f;
}