.new-store-img-and-description-container {
    width: 100%;
    display: flex;
}


.new-store-img-container {
    float: inline-start;

    width: calc(50% - 1rem);
    aspect-ratio: 1;

    margin: 1rem 0.5rem 0.5rem 0;

    background-color: var(--content-background);
    border-radius: 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.new-store-img-container:hover {
    cursor: pointer;
}

.new-store-img-container-label {
    font-size: 105%;
    color: var(--textarea-placeholder)
}

.new-store-img {
    width: 95%;
}

.new-store-description {
    float: inline-start;
    width: calc(50% - 1rem);
    aspect-ratio: 1;
    margin: 1rem 0 0.5rem 0.5rem;
}

.new-store-description::placeholder {
    color: var(--textarea-placeholder);
}

.new-store-address {
    /* float: left; */
    width: 100%;
    resize: none;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    margin-top: 1rem;
}

.new-store-address::placeholder {
    color: var(--textarea-placeholder);
}

.button {
    position: relative;
    margin-top: 1rem;
    margin-left: 0;
}

.regular {
    color: var(--button-foreground);
}

.regular:hover {
    color: var(--button-foreground-focus);
    border-color: var(--button-border-focus);
}

.accent {
    color: var(--accent-button-foreground);
    border-color: var(--acent-button-border);
}

.accent:hover {
    color: var(--accent-button-foreground-focus);
    border-color: var(--accent-button-border-focus);
}
