html,
body {
    height: 100%;
    min-height: 100%;
    margin: 0;
}

div#root {
    height: 100%;
    background-color: var(--background);
    color: var(--foreground);
}

/* code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
} */

h1 {
    text-align: left;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

ul {
    padding: 0;
}

img {
    border-radius: 0.5rem;
}

.logo-img {
    border-radius: 0;
}

textarea {
    padding: 1rem;
    box-sizing: border-box;
    color: var(--foreground);
    background-color: var(--content-background);
    outline: none;
    border: none;
    border-radius: 0.5rem;

    font-size: 105%;

    overflow-x: hidden;
    overflow-y: scroll;

    resize: none;

    transition: background-color 0.3s ease;
}

textarea:hover {
    cursor: pointer;
}

textarea:focus {
    background-color: var(--content-background-focused);
}

textarea::-webkit-scrollbar {
    width: 0.9rem;
}

/* textarea::-webkit-scrollbar-track {
} */

textarea::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-background);
    border: 0.3rem solid transparent;
    background-clip: padding-box;
    border-radius: 0.5rem;
}


/* button {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} */

button {
    border: 2px solid var(--button-border);
    background-color: transparent;
}

[data-theme='light'] {
    --primary: #e30613; /* Lastenkarle red */
    --primary-light: #fb3744;
    --foreground: black;
    --background: white;
    --content-background: #f1f3f3;
    --content-background-focused: #e3e8e8;
    --shadow: rgba(0, 0, 0, 0.3);

    --button-foreground: #707070;
    --button-foreground-focus: black;
    --button-background: var(--background);
    --button-border: var(--button-foreground);
    --button-border-focus: var(--button-foreground-focus);

    --accent-button-foreground: var(--primary-light);
    --accent-button-foreground-focus: var(--primary);
    --accent-button-border: var(--primary-light);
    --accent-button-border-focus: var(--primary);
    --accent-button-background: var(--background);

    --scrollbar-thumb-background: #c7d1d1;
}

[data-theme='dark'] {
    --primary: #e30613; /* Lastenkarle red */
    --primary-light: #fb3744;
    --foreground: white;
    --background: #2a2d2e;
    --content-background: #303436;
    --content-background-focused: #3c4144;
    --shadow: rgba(0, 0, 0, 0.3);

    --button-foreground: #b0b0b0;
    --button-foreground-focus: white;
    --button-background: var(--background);
    --button-border: var(--button-foreground);
    --button-border-focus: var(--button-foreground-focus);

    --accent-button-foreground: var(--primary);
    --accent-button-foreground-focus: var(--primary-light);
    --accent-button-border: var(--primary);
    --accent-button-border-focus: var(--primary-light);
    --accent-button-background: var(--background);

    --scrollbar-thumb-background: #5c7070;
}

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    transition: color 0.3s ease;            /* transitions for darkmode/lightmode change */
    transition: background-color 0.3s ease; /*                                           */
}