.new-store-button {
    height: 2.5rem;
    margin-right: 0;
    border-radius: 0.5rem;
    
    color: var(--button-foreground);
    background-color: var(--button-background);    
    border: 2px solid var(--button-border);
    
    cursor: pointer;
}

.new-store-button:hover {
    color: var(--button-foreground-focus);
    border-color: var(--button-border-focus);
}
